*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans';
}
#capçelera{
    background-image: url(./imatges/general/header1.jfif);
    background-size: cover;
    background-repeat:no-repeat;
    z-index: 1;
}
#fila {
    padding:  40px;
}
#picTitol{
    height: 22vh;
    padding: 15px 10px;
    border: 1px solid white;
    border-radius: 100%;
    background-color: white;
}
#titol {
    font-family: 'Josefin Sans';
    color: white;
            font-size: 60px;
            text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
}
#a{
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}
#a:hover{
    color: white;
}
#fotoPrincipal{
    width: 100%;
}
.navbar {
    background-color: rgb(3, 15, 3);
    z-index: 2;
}
#aside {
    background-color:  rgba(249, 249, 242, 0.985);
    z-index: 1;
    height: 100%;
    position: fixed;
    left: 0;
}

.footer {
    background-color:  rgba(0, 0, 0, 0.985);
    margin-bottom: 0px;
    padding-top: 50px;
    text-align: center;
    color: white;
    z-index: 11;
}

img {
    height: 50vh;
}

#jornadaMasc {
    background-color: rgb(244, 249, 241);
    border-radius: 10px;
    padding: 10px 0;
    font-size: large;
    width: 750px;
}
#jornadaFem {
    background-color: rgb(247, 249, 241);
    border-radius: 10px;
    padding: 10px 0;
    font-size: large;
    width: 750px;
}
#local {
    text-align: center;
}
#empat {
    text-align: center;
}
#visitant {
    text-align: center;
}
.resultat {
    text-align: center;
}

#contingut {
    position: relative;
    margin-left: 250px;
    margin-bottom: 55px;
    margin-bottom: 100px;
    height: 100%;
}
#botoJornada {
    border-radius: 5px;
    border: 1px solid rgb(9, 9, 9);
    padding: 5px 10px;
}
#botoJornada:hover {
    background-color: rgb(247, 249, 241);
}
#mostrarResultatsGenerats {
    border-radius: 5px;
    border: 1px solid rgb(9, 9, 9);
    padding: 5px 10px;
    background-color: rgb(215, 240, 216);
}
#mostrarResultatsGenerats:hover {
    background-color: rgb(244, 244, 243);
}
#mostrarResultatsApiBoto {
    border-radius: 5px;
    border: 1px solid rgb(29, 88, 30);
    padding: 5px 10px;
}
#mostrarResultatsApiBoto:hover {
    background-color: rgb(243, 244, 239);
}

#equipCasa {
    margin-left: 30px;
    margin-right: 20px; 
    display: inline-flex;
    justify-content: start;
    font-size: 20px;
}
#equipVisitant {
    display: inline-flex;
    justify-content: end;
    margin-left: 20px;
    font-size: 20px;
}
#guio {
    display: inline-flex;
    justify-content: center;
}
#nombrePartit {
    margin-left: 50px;
}
#logo_laliga {
    height: 16vh;
}

#labelTravessa {
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(247, 250, 253);
    padding: 2.5px 0;
    padding-left: 20px;
}
#selectJornada {
    margin-left: 15px;
    border-radius: 5px;
    padding: 2.5px 0;
}
#selectJornadaMasc {
    margin-left: 15px;
    border-radius: 5px;
    padding: 2.5px 0;
}
#selectJornadaFem {
    margin-left: 15px;
    border-radius: 5px;
    padding: 2.5px 0;
}
.titolJornada {
    padding: 10px 0;
}
.aposta {
    border: 1px solid black;
}
.aposta.seleccionada {
    border: 1px solid black;
    background-color: rgb(29, 88, 30);
    color: white;
}
.bet:hover {
    background-color: forestgreen;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}
.bet.seleccionada {
    border: 1px solid black;
    background-color: rgb(29, 88, 30);
    color: white;
}
.llegenda {
    background-color: rgba(223, 214, 214, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
}
.correcte {
    background-color: green;
    color: white;
}
.error {
    background-color: red;
    color: white;
}

#escut {
    height: 4vh;
}
#escutDesc {
    height: 5vh;
}

#carrousel_pic {
    height: 36vh;
}
#noticia:hover {
    opacity: 0.5;
}

#pic_noticies {
    height: 38vh;
    border-radius: 10px;
}
#pic_noticia {
    height: 32vh;
    border-radius: 10px;
}

.titular {
    background-color: rgb(247, 245, 243);
}


